<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href="../css/global.css">
    <title>Dashboard</title>
</head>
<body>
    <nav> 
        <h1>Logo</h1>
        <ul>
            <li>LINK 1</li>
            <li>LINK 2</li>
            <li>LINK 3</li>
            <li>Login</li>
        </ul>
    </nav>
    <main>
        <div class="sidebar">Sidebar</div>
        <div class="elements">

            <div class="dog-container">
                <img class="dog-image" src="https://images.unsplash.com/photo-1560807707-8cc77767d783" alt="Dog 1">
                <p>Description of Dog 1.</p>
                <img class="paw-icon" src="https://cdn-icons-png.flaticon.com/512/12/12638.png">
            </div>
                
                <div class="dog-container">
                <img class="dog-image" src="https://images.unsplash.com/photo-1560807707-8cc77767d783" alt="Dog 1">
                <p>Description of Dog 2.</p>
                </div>
                
                <div class="dog-container">
                <img class="dog-image" src="https://images.unsplash.com/photo-1560807707-8cc77767d783" alt="Dog 1">
                <p>Description of Dog 3.</p>
                </div>
            
                <div class="dog-container">
                    <img class="dog-image" src="https://images.unsplash.com/photo-1560807707-8cc77767d783" alt="Dog 1">
                    <p>Description of Dog 1.</p>
                    </div>
                    
                    <div class="dog-container">
                    <img class="dog-image" src="https://images.unsplash.com/photo-1560807707-8cc77767d783" alt="Dog 1">
                    <p>Description of Dog 2.</p>
                    </div>
                    
                    <div class="dog-container">
                    <img class="dog-image" src="https://images.unsplash.com/photo-1560807707-8cc77767d783" alt="Dog 1">
                    <p>Description of Dog 3.</p>
                    </div>
                    <div class="dog-container">
                        <img class="dog-image" src="https://images.unsplash.com/photo-1560807707-8cc77767d783" alt="Dog 1">
                        <p>Description of Dog 1.</p>
                        </div>
                        
                        <div class="dog-container">
                        <img class="dog-image" src="https://images.unsplash.com/photo-1560807707-8cc77767d783" alt="Dog 1">
                        <p>Description of Dog 2.</p>
                        </div>
                        
                        <div class="dog-container">
                        <img class="dog-image" src="https://images.unsplash.com/photo-1560807707-8cc77767d783" alt="Dog 1">
                        <p>Description of Dog 3.</p>
                        </div>

                        <div class="dog-container">
                            <img class="dog-image" src="https://images.unsplash.com/photo-1560807707-8cc77767d783" alt="Dog 1">
                            <p>Description of Dog 1.</p>
                            </div>
                            
                            <div class="dog-container">
                            <img class="dog-image" src="https://images.unsplash.com/photo-1560807707-8cc77767d783" alt="Dog 1">
                            <p>Description of Dog 2.</p>
                            </div>
                            
                    <div class="dog-container">
                    <img class="dog-image" src="https://images.unsplash.com/photo-1560807707-8cc77767d783" alt="Dog 1">
                    <p>Description of Dog 3.</p>
                    </div>
        
        
        </div>
    </main>
</body>
</html>