body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background: #F5FBFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.top-bar {
    caret-color: transparent;
    height: 84px; 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #DBF0FF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    backdrop-filter: blur(2px);
}

.bottom-bar {
    caret-color: transparent;
    height: 84px; 
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #24A7FF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
